.weather-container {
    display: flex;
    flex-direction: row;
    border-radius: 2px ;
  }
  
  .dropdown {
    margin-right: 20px; 
    margin-top: 10px;
    margin-left: 10px;
    
    
  }
  
 

   .weather-forecast {
    margin-left: 20px;
    border-radius: 2px ;

   }

  
  
  
  .weather-forecast div {
    margin-bottom: 20px; 
    
  }

  .select {
    margin-top: 20px;
  }
  